<div class="admin-container">
    <div class="admin-form">
        <div class="admin-title">
            <div id="top">
                <h1>Administration</h1>
                <span class="ligne"></span>
            </div>
        </div>
        <div class="admin-body">
            <div class="admin-utilisateurs">
                <label for="userlist">utilisateurs</label>
                <div class="inputgroup">
                    <img
                        class="innericon searchicon"
                        src="assets/icones/loupe.svg"
                    />
                    <select id="cars">
                        <option
                            *ngFor="let user of usersList"
                            [value]="user.idUser"
                            >{{ user.login }}
                        </option>
                    </select>
                </div>
                <button class="header-btn btn-blue">supprimer</button>
            </div>
        </div>
    </div>
</div>
