<div class="admin-container">
    <div class="admin-form">
        <div class="admin-title">
            <div id="top">
                <h1>Administration</h1>
                <span class="ligne"></span>
            </div>
        </div>
        <div class="admin-body">
            <div class="admin-utilisateurs">
                <label for="userlist">utilisateurs</label>
                <div class="inputgroup">
                    <img
                        class="innericon searchicon"
                        src="assets/icones/loupe.svg"
                    />
                    <input
                        type="search"
                        placeholder="Choisisez un utilisateurs"
                        list="browsers"
                        name="userlist"
                    />
                    <datalist id="browsers">
                        <option value="Internet Explorer"> </option>
                        <option value="Firefox"> </option>
                        <option value="Chrome"> </option>
                        <option value="Opera"> </option>
                        <option value="Safari"> </option>
                    </datalist>
                </div>
                <button class="header-btn btn-blue">supprimer</button>
            </div>
        </div>
    </div>
</div>
