<div id="login-container">
    <div *ngIf="isAlertVisible == true">
        <ngb-alert
            class="alert-message"
            [type]="alert.type"
            (close)="close()"
            >{{ alert.message }}</ngb-alert
        >
    </div>

    <div id="login-form">
        <h1>Connexion</h1>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <input
                class="text"
                type="text"
                name="username"
                formControlName="username"
                id=""
                placeholder="Nom d'utilisateur"
            />
            <input
                class="text"
                type="password"
                name="password"
                formControlName="password"
                id=""
                placeholder="Mot de passe"
            />
            <div id="other">
                <label class="label--checkbox">
                    <input type="checkbox" class="checkbox" />
                    <span>Se souvenir de moi</span>
                </label>
                <a>Pas de compte ? Clique ici</a>
            </div>

            <input type="submit" value="Se connecter" />
        </form>
    </div>
</div>
