<div id="login-container">
  <div id="login-form">
    <h1>Connexion</h1>
    <form action="">
      <input
        class="text"
        type="text"
        name="login"
        id=""
        placeholder="Nom d'utilisateur"
      />
      <input
        class="text"
        type="password"
        name="password"
        id=""
        placeholder="Mot de passe"
      />
      <div id="other">
        <label class="label--checkbox">
          <input type="checkbox" class="checkbox" />
          <span>Se souvenir de moi</span>
        </label>
        <a>Pas de compte ? Clique ici</a>
      </div>

      <input type="submit" value="Se connecter" />
    </form>
  </div>
</div>
