<div class="add-game-container">
    <div class="add-game-form">
        <div class="add-game-title">
            <div id="top">
                <h1>
                    {{
                        gameService.isEdit
                            ? "Modifier le jeu"
                            : "Ajouter un jeu"
                    }}
                </h1>
                <span class="ligne"></span>
            </div>
        </div>
        <form [formGroup]="addGameForm" (ngSubmit)="onSubmit()">
            <label for="name">Nom du jeu</label>
            <input type="text" name="name" formControlName="name" />

            <label for="creationDate">Année de création</label>
            <input
                type="number"
                name="creationDate"
                formControlName="creationDate"
            />

            <label for="image">url image</label>
            <input type="text" name="image" formControlName="image" />

            <label for="minPlayer">Nombre de joueur minimum</label>
            <input
                type="number"
                name="minNbPlayer"
                formControlName="minNbPlayer"
            />

            <label for="maxPlayer">Nombre de joueur maximum</label>
            <input
                type="number"
                name="maxNbPlayer"
                formControlName="maxNbPlayer"
            />

            <label for="duration">temps moyen (minutes)</label>
            <input type="number" name="duration" formControlName="duration" />

            <label for="description">Description</label>
            <textarea
                name="description"
                cols="30"
                rows="2"
                formControlName="description"
            ></textarea>

            <div class="bottom-form" *ngIf="!gameService.isEdit">
                <input
                    type="submit"
                    value="Ajouter"
                    class="header-btn btn-blue"
                />
            </div>
            <div class="bottom-form" *ngIf="gameService.isEdit">
                <input
                    type="submit"
                    value="Modifier"
                    class="header-btn btn-blue"
                />
            </div>
        </form>
    </div>
</div>
