<div id="survey-container">
    <div id="survey-form">
        <div class="survey-title">
            <div id="top">
                <h1>À quel jeu voulez-vous jouer ?</h1>
            </div>
            <span class="ligne"></span>
        </div>
        <div id="survey-body">
            <form [formGroup]="surveyForm" (ngSubmit)="onSubmit()">
                <div class="survey-body-top">
                    <div
                        class="candidat"
                        *ngFor="let candidate of candidates; let i = index"
                    >
                        <label class="radio">
                            <input
                                type="radio"
                                name="candidate"
                                [value]="candidate?.idCandidate"
                                formControlName="candidate"
                            />
                            <span>{{ candidate?.name }}</span>
                        </label>

                        <ngb-progressbar
                            type="success"
                            textType="white"
                            [value]="calculateVoteOnHundred(candidate?.nbVotes)"
                            showValue="true"
                        ></ngb-progressbar>
                    </div>
                </div>
                <div class="survey-body-bottom">
                    <input
                        class="header-btn btn-blue"
                        type="submit"
                        value="Valider"
                    />
                </div>
            </form>
        </div>
    </div>
</div>
