<div class="create-survey-container">
    <div class="create-form">
        <div class="create-title">
            <div id="top">
                <h1>Créer votre sondage</h1>
                <span class="ligne"></span>
            </div>
        </div>

        <div class="create-body">
            <div class="rechercher-jeu">
                <label for="search">Rechercher un jeu</label>
                <div class="inputgroup">
                    <img
                        class="innericon searchicon"
                        src="assets/icones/loupe.svg"
                    />
                    <input type="search" placeholder="Recherchez..." />
                </div>
                <button class="header-btn btn-blue">Ajouter</button>
            </div>
            <div class="collection-jeu">
                <label for="search">Collection de jeux</label>
                <div class="inputgroup">
                    <select (change)="onSelectChange($event.target.value)">
                        <option
                            *ngFor="let game of gamelist$ | async"
                            [value]="game.idGame"
                            >{{ game.name }}
                        </option>
                    </select>
                </div>
                <button
                    class="header-btn btn-blue"
                    (click)="addCollectionGameInList()"
                >
                    Ajouter
                </button>
            </div>
            <div class="selected-jeu">
                <form [formGroup]="createSurveyForm" (ngSubmit)="onSubmit()">
                    <!-- Ajouter un input hidden pour chaque jeu ajouté -->
                    <div>
                        <table class="table-fill">
                            <tbody class="table-hover">
                                <tr *ngFor="let game of listOfSelectedGames">
                                    <td class="text-left">{{ game.name }}</td>
                                    <td class="text-right">
                                        <a
                                            (click)="removeGame(game.idGame)"
                                            class="supprimer"
                                            >supprimer</a
                                        >
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <input
                        type="submit"
                        value="Valider"
                        class="header-btn btn-blue"
                    />
                </form>
            </div>
        </div>
    </div>
</div>
