#main-container {
  display: grid;
  grid-template-columns: 230px auto;
  grid-template-rows: 66px auto;

  grid-template-areas:
    "sidebar header"
    "sidebar container"
    "sidebar container";
}

#sidebar {
  grid-area: sidebar;
  height: 100vh;
}

#header {
  grid-area: header;
  background-color: white;
  height: 66px;
}

#container {
  grid-area: container;
  background-color: #f2f3fa;
  height: 100%;
  //l'ombre de l'élément au dessus
  box-shadow: inset 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
}
