.header-btn {
  border: 2px solid inherit;
  width: 168px;
  padding: 0px 0px;

  border-radius: 6px;
  font-size: 22px;
  background-color: inherit;
  border-style: solid;
}
button:hover {
  cursor: pointer;
}

.btn-red {
  border-color: red;
  color: red;
}
.btn-blue {
  border-color: #245c78;
  color: #245c78;
}
