<div id="register-container">
    <div id="register-form">
        <h1>Inscription</h1>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <input
                class="text"
                type="text"
                name="username"
                formControlName="username"
                autocomplete="username"
                placeholder="Nom d'utilisateur"
            />
            <input
                class="text"
                type="password"
                name="password"
                formControlName="password"
                autocomplete="new-password"
                placeholder="Mot de passe"
            />
            <input type="submit" value="S'inscrire" />
        </form>
    </div>
</div>
