<div id="searchbar-container">
    <img src="assets/icones/loupe.svg" />
    <input
        (keyup)="onKeyUp($event)"
        type="text"
        name="search-argument"
        placeholder="Recherchez ici..."
        (focus)="showHintbox = true"
        (focusout)="showHintbox = false"
    />
    <div
        *ngIf="
            searchString?.length > 3 && (gamesResult$ | async);
            let gameArray
        "
        id="hint-box"
        [ngClass]="{ show: showHintbox }"
    >
        <div *ngFor="let game of gameArray" class="result-container">
            <div>
                <a [routerLink]="['/games/detail/', game?.id]">{{
                    game?.name.value
                }}</a>
            </div>
        </div>
    </div>
</div>
