<div id="sidebar-header">
  <h1>BG MANAGER</h1>
</div>
<div id="sidebar-body">
  <span
    class="label"
    style="display: inline-block; margin-left: 15px; margin-top: 30px;"
    >Fonctionnalités</span
  >
  <ul>
    <li class="label">
      <iframe src="assets/icones/vote.svg"></iframe>
      <a>Create a survey</a>
    </li>
    <li class="label">
      <iframe src="assets/icones/history.svg"></iframe>
      <a>History</a>
    </li>
    <li class="label">
      <iframe src="assets/icones/star.svg"></iframe>
      <a>Favorite</a>
    </li>
    <li class="label">
      <iframe src="assets/icones/admin.svg"></iframe>
      <a>Admin</a>
    </li>
  </ul>
</div>
