<div id="sidebar-header">
    <h1>BG MANAGER</h1>
</div>
<div id="sidebar-body">
    <span
        class="label"
        style="display: inline-block; margin-left: 15px; margin-top: 30px;"
        >Fonctionnalités</span
    >
    <ul>
        <li class="label">
            <img src="assets/icones/vote.svg" />
            <a [routerLink]="['/create-survey']">Créer un vote</a>
        </li>
        <li class="label">
            <img src="assets/icones/history.svg" />
            <a [routerLink]="['/search-result']">Historique</a>
        </li>
        <li class="label">
            <img src="assets/icones/star.svg" />
            <a [routerLink]="['/collection']">Ma Collection</a>
        </li>
        <li class="label">
            <img src="assets/icones/admin.svg" />
            <a [routerLink]="['/admin']">Administration</a>
        </li>
    </ul>
</div>
