.game-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 586px;
    width: 940px;
    background-color: #f2f3fa;
    display: flex;

    .card-image {
        background-color: #eff6ff;
        background-size: cover !important;
        background-position: center !important;
        height: 586px;
        width: 586px;
    }
    .details {
        flex: 1; //rempli l'espace restant
        height: 100%;
        background-color: white;
    }
}
