.game-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 586px;
    width: 940px;
    background-color: #f2f3fa;

    .card-image {
        background-color: white;

        background-size: cover;
        height: 586px;
        width: 586px;
    }
}
