.game-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 586px;
    width: 940px;
    background-color: #f2f3fa;
    display: flex;

    .btn-add {
        position: absolute;
        margin-top: 520px;
        margin-left: 870px;
        background-color: white;
        border-radius: 50%;
        &:hover {
            cursor: pointer;
            img {
                transform: scale(1.3, 1.3);
            }
        }
    }
    .btn-edit {
        position: absolute;
        margin-top: 520px;
        margin-left: 870px;
        background-color: white;
        border-radius: 50%;
        height: 40px;
        width: 40px;

        img {
            transform: translateX(11px) translateY(6px);
        }
        &:hover {
            cursor: pointer;
            img {
                transform: translateX(11px) translateY(6px) scale(1.3, 1.3);
            }
        }
    }

    .card-image {
        background-color: #eff6ff;
        background-size: cover !important;
        background-position: center !important;
        height: 586px;
        width: 586px;
    }
    .details {
        flex: 1; //rempli l'espace restant
        height: 100%;
        background-color: white;
        padding: 20px;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;

        div.title {
            padding-bottom: 20px;
            border-bottom-style: solid;
            border-bottom-width: 1px;
            border-color: #dfe0e6;
            h1 {
                margin-bottom: 0px;
            }
            h2 {
                font-size: 20px;
                font-weight: 400;
            }
        }
        .horizontal {
            display: flex;
            justify-content: space-around;
            margin-top: 20px;
            margin-bottom: 20px;

            div {
                img {
                    transform: translateY(-10px);
                }
            }

            span {
                display: inline-block;
                width: 40px;
                line-height: 15px;
                margin-left: 10px;
            }
        }
        .description {
            overflow-y: auto;
            text-align: justify;
            padding-right: 10px;
        }
    }
}

app-loading-spinner {
    position: absolute;
    width: 940px;
    height: 586px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}
